@font-face {
  font-family: Exo Medium;
  src: url(fonts/Exo Medium/exo-medium.ttf) format('truetype');
}

@font-face {
  font-family: Exo Regular;
  src: url(fonts/Exo Regular/exo-regular.ttf) format('truetype');
}

@font-face {
  font-family: Exo Regular Italic;
  src: url(fonts/Exo Regular Italic/Exo-Regular-Italic.ttf) format('truetype');
}

@font-face {
  font-family: Exo Thin;
  src: url(fonts/Exo Thin/exo-thin.ttf) format('truetype');
}

@font-face {
  font-family: Lato Regular;
  src: url(fonts/lato/lato regular.ttf) format('truetype');
}